.Main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    background-color: bisque;
}

.Header {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    background: linear-gradient(to right, #0559d8, #2abbc5);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 20px;
}

.Grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 8px;
}

.GuessBox {
    width: 60px;
    height: 60px;
    border: gray 2px solid;
    background-color: black;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    margin-bottom: 8px;
}

.KeyboardRow {
    gap: 5px;
    margin: 5px;
    display: flex;
    justify-content: center;
}

.KeyboardText {
    display: flex;
    width: 50px;
    height: 50px;
    border: gray 2px solid;
    background-color: rgba(128, 128, 128, 0.2);
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    font-weight: bold;
    text-transform: uppercase;
}
.ResetButton {
  width: 160px;
  height: 40px;
  margin-bottom: 10px;
  background-color: #0559d8;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 4px 12px rgba(5, 89, 216, 0.15);
  transition: background 0.3s, transform 0.1s;
  letter-spacing: 1px;
}

.ResetButton:hover {
  background: linear-gradient(90deg, #0559d8 30%, #2abbc5 100%);
  transform: translateY(-2px) scale(1.03);
}


.Message {
  margin-top: 10px;
}